.cajita{
    margin: 0 25px;
    border: 2px solid black;
    width: 25px;
    height: 25px;
    position: relative;
}

@keyframes ejemplo{
    from{
        left: 0;
        background-color: red;
    }
    to{
        left: 250px;
        background-color: blue;
    }
}

.linear{
    animation: ejemplo 2s linear infinite alternate;
}
.ease{
    animation: ejemplo 2s ease infinite alternate;
}
.ease-in{
    animation: ejemplo 2s ease-in infinite alternate;
}
.ease-out{
    animation: ejemplo 2s ease-out infinite alternate;
}
.ease-in-out{
    animation: ejemplo 2s ease-in-out infinite alternate;
}

