.grid-container{
    display: grid;
    grid-template-columns: 33% 33% auto;
    gap: 50px;
    background-color: grey;
    padding: 15px;
    justify-content: space-evenly;
}

.grid-container > div{
    background-color: rgb(189, 189, 189);
    text-align: center;
}

.cajita{
    width: 100px;
    height: 100px;
}

.solid{
    border: 5px solid black;
}
.dotted{
    border: 5px dotted black;
}
.dashed{
    border: 5px dashed black;
}
.double{
    border: 5px double black;
}
.groove{
    border: 5px groove black;
}
.ridge{
    border: 5px ridge black;
}
.inset{
    border: 5px inset black;
}
.outset{
    border: 5px outset black;
}